@media only screen and (max-width: 820px) {
    #product-list {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        gap: 18px;
    }

    #product-list-container p {
        text-align: center;
    }
}

@media only screen and (min-width: 820px) {
    #product-list {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    #product-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 18px;
    }
}

#product-list-container p {
    font-size: 14px;
}

#product-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
